.container-div {
  display: flex;
  flex-direction: column;
}

.buttons-div {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
}

div > * {
  margin-left: 5px;
}

input {
  height: 30px;
  width: 320px;
}

label {
  font-size: 18px;
}
